name: build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build binaries
        run: bash scripts/build.sh

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
